<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HomePage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/icon.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #A39480
}
</style>
</head>
<body>
	<div class="row">
		<div class="span4">
			<p>内容一</p>
		</div>
		<div class="span4">
			<textarea rows="2" cols="2">内容二</textarea>
		</div>
		<div class="span4">
			<span class="icon-star"></span>星星
		</div>
	</div>
	<div>
		<ul>
			<li class="icon-glass"></li>
		</ul>
	</div>

	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>